<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
  <script src="/src/main.js"></script>
  <script src="/src/todo.js"></script>
  <title>待办事项</title>
</head>
<body>
<div id="todo-list">
  <div v-for="item in todos">
    <label :style="item.isDone?itemDoneStyle:none">
      <input type="checkbox" v-model="item.isDone" :disabled="item.isDone">
      {{item.title}}
    </label>
  </div>
  <div><input type="text" placeholder="待办事项" v-model="newTodoText" @keydown.enter="addNewTodo">
    <button @click="addNewTodo">添加</button>
  </div>
</div>

</body>
</html>
